@media (min-width: 850px) and (max-width: 1439px) {
  .center {
    padding: 0%;
  }

  .header {
    width: 100%;
    overflow: hidden;

    &__content {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content-wrapper {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__describe,
    &__heading {
      text-align: center;
    }
  }

  .games-about {
    display: none;
  }

  .mini-games {
    &__card {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 60px;
    }

    &__img {
      width: 100%;
      background-size: cover;
    }

    &__button {
      margin-right: 0px;
    }

    &__game-description {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;

      &--left {
        order: -1;
      }

      &--wrapper {
        width: 550px;
        margin: 48px;
        display: flex;
        flex-direction: column;
        background-color: rgb(236, 236, 236);
        text-align: center;
        align-items: center;
        border-radius: 40px;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 849px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .header {
    min-height: 648px;
    background-color: rgb(225, 255, 143);

    &__content {
      position: relative;
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 376px;
      margin: 0 auto;
      min-height: 648px;
      overflow: hidden;

      &__mobile-star {
        position: absolute;
        display: inline;
      }

      &--mob-star {
        top: -110px;
        left: 190px;
      }

      &--mini-star_1 {
        top: 60px;
        left: 90px;
      }

      &--mini-star_2 {
        top: 80px;
        left: 30px;
      }

      &--mini-star_3 {
        bottom: 80px;
        right: 80px;
      }

      &--mini-star_4 {
        bottom: 30px;
        right: 30px;
      }
    }

    &__content-wrapper {
      width: 296px;
      margin: 0;
    }

    &__heading {
      font-size: 40px;
      line-height: 125%;
      text-align: center;
    }

    &__describe {
      font-size: 16px;
      line-height: 125%;
      text-align: center;
    }

    &__button {
      width: 100%;
    }
  }

  .strip-wrapper-to-hide-strip-ends {
    width: 376px;
    margin: 0 auto;
  }

  .strip {
    max-height: 51.34px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;

    &__name {
      padding-right: 25px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 110%;
    }

    &__name::after {
      content: url("img/Mini/Strip-Star.svg");
      padding-left: 30px;
    }
  }

  .games-about {
    display: none;
  }

  .astra {
    display: none;
  }

  .mini-games {
    &__title,
    &__text,
    &__button {
      width: 100%;
      line-height: 125%;
      margin: 0;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 16px;
    }

    &__button {
      height: 55px;
      font-size: 16px;
    }

    &__game-description {
      width: 100%;
      display: flex;
      justify-content: center;

      &--left {
        order: 0;
      }

      &--wrapper {
        display: flex;
        flex-direction: column;
        width: 285px;
        margin: 24px;
      }
    }

    &__wrapper {
      padding-bottom: 9.88px;
    }

    &__content {
      padding: 0%;
      width: 376px;
      margin: 0 auto;
    }

    &__card {
      width: 343px;
      min-height: 529px;
      margin: 0 auto;
      flex-direction: column;
      border-radius: 30px;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      min-height: 284px;
    }

    &--img1 {
      background-image: url("img/Mini/1.svg");
    }

    &--img2 {
      background-image: url("img/Mini/2.svg");
    }

    &--img3 {
      background-image: url("img/Mini/3.svg");
    }

    &--img4 {
      background-image: url("img/Mini/Kulak-mini.png");
    }

    &--img5 {
      background-image: url("img/Mini/5.svg");
    }

    &--img6 {
      background-image: url("img/Mini/6.svg");
    }

    &__heading {
      font-size: 40px;
      margin-left: 15px;
      margin-bottom: 8px;
    }
  }
}
