.mini-games {
    min-height: 1470px;
    background: rgb(32, 32, 39);
    
    padding-bottom: 144px;
    &__heading {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: left;
    }
}
.galery {
    
    border-radius: 30px;

    &__item {
        margin-bottom: 32px;
        border-radius: 30px;
        color: rgb(32, 32, 39);
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        padding: 48px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        &_right {
            background-position-x: right;
        }
        &_left {
            background-position-x: left;
            align-items: flex-end;
        }
    }
    &__item_1 {
        background-image: url(/img/img1.svg);
    }
    &__item_2 {
        background-image: url(/img/img2.svg);
    }
    &__item_3 {
        background-image: url(/img/img3.svg);
    }
    &__item_4 {
        background-image: url(/img/img4.svg);
    }
    &__item_5 {
        background-image: url(/img/img5.svg);
    }
    &__item_6 {
        background-image: url(/img/img6.svg);
    }
    &__title {
        color: rgb(32, 32, 39);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-bottom: 24px;
        width: 504px;
    }
    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 36px;
        width: 500px;
    }
    &__button {
        width: 247px;
        height: 66px;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-right: 260px;
        font-family: "Montserrat";
    }
}
.footer {
    height: 150px;
    background: rgb(189, 237, 53);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    padding-top: 61px;
}
