.mini-games {
  min-height: 1470px;
  background: rgb(32, 32, 39);

  &__wrapper {
    min-height: 1470px;
    position: relative;
    padding-bottom: 144px;
  }

  &__heading {
    margin-top: 46px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__content {
    padding-left: 119px;
    padding-right: 119px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__img {
    width: 50%;
    min-height: 500px;
  }

  &--img1 {   
    background-image: url('img/img1.svg');
  }

  &--img2 {
    background-image: url('img/img2.svg');
  }

  &--img3 {
    background-image: url('img/img3.svg');
  }

  &--img4 {
    background-image: url('img/img4.png');
  }

  &--img5 {
    background-image: url('img/img5.svg');
  }

  &--img6 {
    background-image: url('img/img6.svg');
  }

  &__card {
    width: 100%;
    min-height: 500px;
    border-radius: 30px;
    color: rgb(32, 32, 39);
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
  }

  &__game-description {
    width: 50%;
    display: flex;
    justify-content: center; 
    &--left {
      order: -1;
    }

    &--wrapper {
      width: 504px;
      margin: 48px;
    }
  }
  
  &__title {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    padding-bottom: 24px;
    width: 504px;
  }
  &__text {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 36px;
    width: 500px;
  }
  &__button {
    width: 247px;
    height: 66px;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-right: 260px;
    font-family: "Montserrat";
    transition: all 0.2s;
  }

  &__button:hover {
    color: rgb(32, 32, 39);
    background-color: rgb(255, 255, 255);
  }
}

.star_6 {
  top: 90px;
  right: 45px;
}

.star_7 {
  top: 67px;
  right: 150px;
}

.star_8 {
  bottom: 60px;
  right: 40px;
}

.star_10 {
  bottom: 45px;
  right: 150px;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
}
