* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header {
  min-height: 710px;
  background-color: rgb(225, 255, 143);
}
.header__content {
  background-image: url("img/BackGround.svg");
  background-position: 60px -340px;
  min-height: 710px;
}
.header__content-wrapper {
  display: inline-block;
  margin-left: 120px;
  margin-top: 196px;
}
.header__heading {
  max-width: 769px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.header__describe {
  max-width: 720px;
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header__span {
  font-weight: bold;
}
.header__button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 66px;
  margin-top: 48px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.2s;
}
.header__button:hover {
  color: rgb(32, 32, 39);
  background-color: rgb(255, 255, 255);
}

.strip {
  width: 3220;
  max-height: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgb(188, 236, 48);
}
.strip__name {
  padding-right: 51px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.strip__name::after {
  content: url("img/Strip_Star.svg");
  padding-left: 51px;
}

.games-about {
  min-height: 1470px;
  background: rgb(32, 32, 39);
  overflow: hidden;
}
.games-about__wrapper {
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.games-about__text-wrapper {
  margin-left: 120px;
  margin-top: 94px;
  margin-bottom: 72px;
}
.games-about__heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.games-about__describe {
  max-width: 788px;
  height: 96px;
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.games-about__card-wrapper {
  max-height: 1060px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: start;
}

.astra {
  position: absolute;
}

.star_1 {
  top: 77px;
  left: 933px;
}

.star_11 {
  top: 750px;
  left: 25px;
}

.star_12 {
  top: 800px;
  left: 40px;
}

.up-shift {
  margin-top: -30px;
}

.game-card {
  z-index: 1;
  width: 378px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #ffffff;
  border-radius: 30px;
  transition: all 0.4s;
}
.game-card__container {
  padding: 32px 45px 36px 32px;
}
.game-card__button {
  height: 36px;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  border: 0;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.game-card__heading {
  margin-top: 16px;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.game-card:hover {
  transform: scale(1.1);
}

.galery__conteiner {
  background: rgb(32, 32, 39);
  height: 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 49px) 111px, calc(100% - 125px) 85px, calc(100% - 47px) 3372px, calc(100% - 139px) 3426px;
  background-image: url("/img/Star 6.svg"), url("/img/Star 7.svg"), url("/img/Star 8.svg"), url("/img/Star 10.svg");
  overflow: hidden;
  padding-bottom: 144px;
}

.galery {
  border-radius: 30px;
}
.galery__item {
  margin-bottom: 32px;
  border-radius: 30px;
  color: rgb(32, 32, 39);
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  padding: 48px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.galery__item_right {
  background-position-x: right;
}
.galery__item_left {
  background-position-x: left;
  align-items: flex-end;
}
.galery__item_1 {
  background-image: url(/img/img1.svg);
}
.galery__item_2 {
  background-image: url(/img/img2.svg);
}
.galery__item_3 {
  background-image: url(/img/img3.svg);
}
.galery__item_4 {
  background-image: url(/img/img4.svg);
}
.galery__item_5 {
  background-image: url(/img/img5.svg);
}
.galery__item_6 {
  background-image: url(/img/img6.svg);
}
.galery__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-bottom: 24px;
  width: 504px;
}
.galery__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
  width: 500px;
}
.galery__button {
  width: 247px;
  height: 66px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-right: 260px;
  font-family: "Montserrat";
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
}/*# sourceMappingURL=style.css.map */