* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

$header-height: 710px;

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header {
  min-height: $header-height;
  background-color: rgba(225, 255, 143, 1);

  &__content {
    background-image: url("img/BackGround.svg");
    background-position: 60px -340px;
    min-height: $header-height;
  }

  &__content-wrapper {
    display: inline-block;
    margin-left: 120px;
    margin-top: 196px;
  }

  &__heading {
    max-width: 769px;
    color: rgba(32, 32, 39, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__describe {
    max-width: 720px;
    margin-top: 24px;
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__span {
    font-weight: bold;
  }

  &__button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 66px;
    margin-top: 48px;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    transition: all 0.2s;
  }

  &__button:hover {
    color: rgba(32, 32, 39, 1);
    background-color: rgba(255, 255, 255, 1);
  }
}

.strip {
  max-height: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color:rgba(188, 236, 48, 1);

  &__name {
    padding-right: 51px;

    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }

  &__name::after {
    content: url('img/Strip_Star.svg');
    padding-left: 51px;
  }
}

.games-about {
  min-height: 1470px;
  background: rgba(32, 32, 39, 1);

  &__wrapper-to-hide-star-ends {
    width: 1440px;
    min-height: 1470px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  &__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  &__text-wrapper {
    margin-left: 120px;
    margin-top: 94px;
    margin-bottom: 72px;
  }

  &__heading {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__describe {
    max-width: 788px;
    height: 96px;
    margin-top: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__card-wrapper {
    max-height: 1060px;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    align-items: start;
  }
}

.astra {
  position: absolute;
}

.star_1 {
  top: 77px;
  left: 933px;
}

.star_11 {
  top: 750px;
  left: 25px;
}

.star_12 {
  top: 800px;
  left: 40px;
}

.up-shift {
  margin-top: -30px;
}

.game-card {
  z-index: 1;
  width: 378px;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #ffffff;
  border-radius: 30px;
  transition: all 0.4s;

  &__container {
    padding: 32px 32px 36px 32px;
  }

  &__button {
    height: 36px;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    border: 0;
    background: rgba(247, 247, 247, 1);

    color: rgba(32, 32, 39, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__heading {
    margin-top: 16px;
    color: rgba(32, 32, 39, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
}

.game-card:hover {
  transform: scale(1.1); 
  z-index: 3;
}

@import "mini-games";
@import "media";
