* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.page-wrapper {
  margin: 0 auto;
  width: 1440px;
}

.welcome {
  width: 1440px;
  height: 710px;
  position: relative;
  background-color: rgb(225, 255, 143);
  background-image: url("img/BackGround.svg");
  background-position: 60px -340px;
}
.welcome__text-wrapper {
  position: absolute;
  top: 196px;
  left: 120px;
}
.welcome__heading {
  width: 769px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.welcome__describe {
  width: 720px;
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.welcome__span {
  font-weight: bold;
}
.welcome__button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 66px;
  margin-top: 48px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.2s;
}
.welcome__button:hover {
  color: rgb(32, 32, 39);
  background-color: rgb(255, 255, 255);
}

.animation-strip {
  width: 1440px;
  height: 90px;
  border: 2px solid rgb(225, 255, 143);
}

.games-about {
  width: 1440px;
  height: 1470px;
  position: relative;
  background: rgb(32, 32, 39);
}
.games-about__text-wrapper {
  position: absolute;
  top: 94px;
  left: 119px;
}
.games-about__heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.games-about__describe {
  width: 788px;
  height: 96px;
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.games-about__card-wrapper {
  position: absolute;
  top: 364px;
  left: 119px;
  max-height: 1060px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: start;
}

.up-shift {
  margin-top: -30px;
}

.game-card {
  width: 378px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #ffffff;
  border-radius: 30px;
  transition: all 0.4s;
}
.game-card__container {
  padding: 32px 45px 36px 32px;
}
.game-card__button {
  height: 36px;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  border: 0;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.game-card__heading {
  margin-top: 16px;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.game-card:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */